# Local Terraform state, credentials, and logs
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform directory
.terraform/

# Ignore any .tfplan files
*.tfplan